<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改购物车')"/>
            <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-cart-edit" th:object="${shoppingCart}">
        <input name="cartId" th:field="*{cartId}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户id
                                ：</label>
                            <div class="col-sm-8">
                                <input name="userId" th:field="*{userId}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="createDate"
                                           th:value="${#dates.format(shoppingCart.createDate, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">修改时间
                                ：</label>
                            <div class="col-sm-8">
                                <div class="input-group date">
                                    <input name="updateDate"
                                           th:value="${#dates.format(shoppingCart.updateDate, 'yyyy-MM-dd')}"
                                           class="form-control" placeholder="yyyy-MM-dd"
                                           type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
        <th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "web/cart";
    $("#form-cart-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-cart-edit').serialize());
        }
    }

            $("input[name='createDate']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

            $("input[name='updateDate']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });
</script>
</body>
</html>