<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tea.web.mapper.ShoppingCartMapper">

    <resultMap type="ShoppingCart" id="ShoppingCartResult">
        <result property="cartId" column="cart_id"/>
        <result property="userId" column="user_id"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectShoppingCartVo">
        select cart_id, user_id, create_date, update_date
        from shopping_cart
    </sql>

    <select id="selectShoppingCartList" parameterType="ShoppingCart" resultMap="ShoppingCartResult">
        <include refid="selectShoppingCartVo"/>
        <where>
            <if test="userId != null ">
                and user_id = #{userId}
            </if>
            <if test="createDate != null ">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null ">
                and update_date = #{updateDate}
            </if>
        </where>
    </select>

    <select id="selectShoppingCartByCartId" parameterType="String"
            resultMap="ShoppingCartResult">
        <include refid="selectShoppingCartVo"/>
        where cart_id = #{cartId}
    </select>

    <insert id="insertShoppingCart" parameterType="ShoppingCart">
        insert into shopping_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartId != null">cart_id,
            </if>
            <if test="userId != null">user_id,
            </if>
            <if test="createDate != null">create_date,
            </if>
            <if test="updateDate != null">update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartId != null">#{cartId},
            </if>
            <if test="userId != null">#{userId},
            </if>
            <if test="createDate != null">#{createDate},
            </if>
            <if test="updateDate != null">#{updateDate},
            </if>
        </trim>
    </insert>

    <update id="updateShoppingCart" parameterType="ShoppingCart">
        update shopping_cart
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id =
                #{userId},
            </if>
            <if test="createDate != null">create_date =
                #{createDate},
            </if>
            <if test="updateDate != null">update_date =
                #{updateDate},
            </if>
        </trim>
        where cart_id = #{cartId}
    </update>

    <delete id="deleteShoppingCartByCartId" parameterType="String">
        delete
        from shopping_cart
        where cart_id = #{cartId}
    </delete>

    <delete id="deleteShoppingCartByCartIds" parameterType="String">
        delete from shopping_cart where cart_id in
        <foreach item="cartId" collection="array" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>

</mapper>