<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tea.web.mapper.SysAttachmentMapper">

    <resultMap type="SysAttachment" id="SysAttachmentResult">
            <result property="id" column="id"/>
            <result property="fileId" column="file_id"/>
            <result property="fileName" column="file_name"/>
            <result property="filePath" column="file_path"/>
            <result property="fileSize" column="file_size"/>
            <result property="fileExt" column="file_ext"/>
            <result property="uploadTime" column="upload_time"/>
            <result property="sysType" column="sys_type"/>
            <result property="state" column="state"/>
    </resultMap>

    <sql id="selectSysAttachmentVo">
        select id, file_id, file_name, file_path, file_size, file_ext, upload_time, sys_type, state
        from sys_attachment
    </sql>

    <select id="selectSysAttachmentList" parameterType="SysAttachment" resultMap="SysAttachmentResult">
        <include refid="selectSysAttachmentVo"/>
        <where>
                        <if test="fileId != null  and fileId != ''">
                            and file_id = #{fileId}
                        </if>
                        <if test="fileName != null  and fileName != ''">
                            and file_name like concat('%', #{fileName}, '%')
                        </if>
                        <if test="filePath != null  and filePath != ''">
                            and file_path = #{filePath}
                        </if>
                        <if test="fileSize != null ">
                            and file_size = #{fileSize}
                        </if>
                        <if test="fileExt != null  and fileExt != ''">
                            and file_ext = #{fileExt}
                        </if>
                        <if test="uploadTime != null ">
                            and upload_time = #{uploadTime}
                        </if>
                        <if test="sysType != null  and sysType != ''">
                            and sys_type = #{sysType}
                        </if>
                        <if test="state != null  and state != ''">
                            and state = #{state}
                        </if>
        </where>
    </select>

    <select id="selectSysAttachmentById" parameterType="Long"
            resultMap="SysAttachmentResult">
            <include refid="selectSysAttachmentVo"/>
            where id = #{id}
    </select>

    <insert id="insertSysAttachment" parameterType="SysAttachment" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="fileId != null and fileId != ''">file_id,
                    </if>
                    <if test="fileName != null">file_name,
                    </if>
                    <if test="filePath != null">file_path,
                    </if>
                    <if test="fileSize != null">file_size,
                    </if>
                    <if test="fileExt != null">file_ext,
                    </if>
                    <if test="uploadTime != null">upload_time,
                    </if>
                    <if test="sysType != null">sys_type,
                    </if>
                    <if test="state != null">state,
                    </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="fileId != null and fileId != ''">#{fileId},
                    </if>
                    <if test="fileName != null">#{fileName},
                    </if>
                    <if test="filePath != null">#{filePath},
                    </if>
                    <if test="fileSize != null">#{fileSize},
                    </if>
                    <if test="fileExt != null">#{fileExt},
                    </if>
                    <if test="uploadTime != null">#{uploadTime},
                    </if>
                    <if test="sysType != null">#{sysType},
                    </if>
                    <if test="state != null">#{state},
                    </if>
        </trim>
    </insert>

    <update id="updateSysAttachment" parameterType="SysAttachment">
        update sys_attachment
        <trim prefix="SET" suffixOverrides=",">
                    <if test="fileId != null and fileId != ''">file_id =
                        #{fileId},
                    </if>
                    <if test="fileName != null">file_name =
                        #{fileName},
                    </if>
                    <if test="filePath != null">file_path =
                        #{filePath},
                    </if>
                    <if test="fileSize != null">file_size =
                        #{fileSize},
                    </if>
                    <if test="fileExt != null">file_ext =
                        #{fileExt},
                    </if>
                    <if test="uploadTime != null">upload_time =
                        #{uploadTime},
                    </if>
                    <if test="sysType != null">sys_type =
                        #{sysType},
                    </if>
                    <if test="state != null">state =
                        #{state},
                    </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAttachmentById" parameterType="Long">
        delete from sys_attachment where id = #{id}
    </delete>

    <delete id="deleteSysAttachmentByIds" parameterType="String">
        delete from sys_attachment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsertSysAttachment">
        insert into sys_attachment(file_id,
        file_name,
        file_path,
        file_size,
        file_ext,
        upload_time,
        sys_type,
        state)
        <foreach item="item" index="index" collection="sysAttachmentList" open="values (" separator="),(" close=")">
                #{item.fileId},
                #{item.fileName},
                #{item.filePath},
                #{item.fileSize},
                #{item.fileExt},
                #{item.uploadTime},
                #{item.sysType},
                #{item.state}
        </foreach>
    </insert>

</mapper>